.news-dashboard__countries-list {
	margin-bottom: 20px;
}

.news-dashboard__loading-container {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
}

.news-dashboard__news-card-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .news-dashboard__news-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news-dashboard__countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-dashboard__headline {
    text-align: center;
  }
}
